.text-center
  = image_tag @challenge.image.url(:medium)
  .form-wrapper
    = simple_form_for @challenge, html: { class: 'form-horizontal', multipart: true } do |f|
      = image_tag current_user.avatar
      = hidden_field :challenge, :challenger_id, :value => current_user.id

      .form-group.text-center
        = f.input :criteria
      .form-group.text-center
        = f.button :submit, class: 'btn-success'
